.root{
    display:flex
}
.content{
    flex-grow: 1;
    height: 100vh;
    overflow: auto;
    
}
.container{
    padding-top: 100px;
    padding-bottom: 32px;
    background: white;
    /* background:white; */
}
.toolbar{
    min-height: 500px;
}